* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.links {
    text-decoration: none;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.dropdown-toggle:after {
    vertical-align: none;
    content: none !important;
    border: none !important;
    border-top-color: currentColor;
    border-bottom: 0;
    margin-left: 0;
    display: inline-block;
}