* {
    margin: 0;
    padding: 0;
}

.home1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSEZUQYPBOhAWV-rQ-u4cNWQ0RxJ9SHj-g9Q&usqp=CAU');
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
}

.headerNavBar_home {
    background-color: transparent !important;
}

.pic_container {
    background-image: url('../../Assets/Images/blob.svg');
    background-repeat: no-repeat;
    padding-bottom: 60px;

}

.home_nav {
    margin-right: 40px;
    font-size: larger;

}

.nav_icon {
    margin-right: 80px;
    font-family: 'Lato',
        sans-serif;
    font-size: 50px;
    color: #376ad0  !important;
}

.home_h1 {
    font-family: 'Comfortaa', cursive;
}

.home_text {
    font-size: 18px;
    text-align: justify;


}

.login_home {
    background-color: #376ad0 !important;
    border: none;
    border-radius: 20px !important;
    color: white !important;
}