.headerNavBar {
    background-color: #0157a8 !important;
}

.hb {
    background-color: rgb(231, 55, 55);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.block {
    display: none;
}

.cbtn {
    border-radius: 50% !important;
}

.no_request {
    background-color: rgb(202, 198, 198);
}

.reqrow {
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}